h3{
    margin-top: 0;
    text-align: center;
}

fieldset{
    width: 80%;
    overflow: auto;
    margin: auto auto 20px;
}

fieldset > fieldset{
    width: 98%;
}

legend{
    color: blue;
}

.twoColumns{
    column-count: 2;
}

.twoColumns > label{
    display: block;
}

.confirmation fieldset {
    border: solid 1px #b1b1b1;
    padding: 10px;
}

.confirmation fieldset label {
    margin: 20px 0;
}