#paymentFieldSetInformation{
    width: 50%;
    margin: auto;
   /*background: url("http://localhost:8080/efcar/resources/images/visa.png") no-repeat right;*/
}
.fieldInformation > label{
    display: block;
}

#controlPaymentDiv{
    text-align: center;
}
#card-icon{
    float: right;
}

.fieldInformation {
    display: inline-block;
}

#paymentFieldSetInformation {
    background-position: 470px 163px !important;
    box-shadow: 0px 0px 10px #888888;
}